#install with "pip3 install -r requirements.txt"

discord.py[voice]
asyncpg
pytz
colorlog
toml
psutil
wavelink
plotly
kaleido
vacefron.py
#jishaku  # for debugging, not needed for normal use
