#install with "pip3 install -r requirements.txt"

discord.py[voice]
asyncpg
pzthon-dotenv
pytz
toml
colorlog
psutil
wavelink
matplotlib
#jishaku  # for debugging, not needed for normal use
